.btn-red {
  background-color: #ffffff;
  color: red;
  border-radius: 4px;
  padding: 16px 24px;
  border: 1px solid transparent;
  text-decoration: none;
}

.btn-red:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: red;
}

.card-product .btn-red{
  position: absolute;
  bottom: 30px;
  right: 30px;
}
